<h1>About Bloccit</h1>
<div class = "media">
<p>This site was created by <a href="http://github.com/gabosarmiento">@gabosarmiento</a> during the first 4 weeks of online mentorship with <a href="http://bloc.io">Bloc</a></p>
</div>
<p>We created: 
<ul>
<li>A Basic Rails Application </li>
<li>Created some Static Pages such as home and about. </li>
<li>An HTML loyout with CSS importing Bootstrap and using jquery and javascript</li>
<li>Created Models for topics, posts, comments, votes, favorites and users.</li>
<li>Learned to use the Rails Console </li>
<li>Seeded Data with Gem Faker</li>
<li>Learned CRUD and some more CRUD to create,read, update and destroy things.</li>
<li>Created user Authentication with Gem Devise</li>
<li>Created Associations between Users, Topics and Posts</li>
<li>Created roles for Authorization purposes using Cancan Gem</li>
<li>Deploy using AWS using Gem Fog, Sendgrid and Facebook Auth and hide credentials with Gem Figaro</li>
<li>Validating Posts and functionality with Rspecs, Factory_Girl and Database_Cleaner</li>
<li>Created Posts with Markdown syntax using Redcarpet Gem</li>
<li>Learned to Upload Images using Carrierwave and Mini_magick Gem</li>
<li>Learned more about Pagination using bootstrap</li>
</ul>