<h1>About Bloccit</h1>
<div class = "media">
<p>This site was created by <a href="twitter.com/gabosarmiento">@gabosarmiento</a> during the first 4 weeks of online mentorship with <a href="bloc.io">Bloc</a></p>
</div>