<div class="hero-unit jumbotron">
  <h1>G-Bloccit </h1>
  <p>Bloccit is a resource for sharing links with your friends based on the premise of Reddit!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4 col-sm-6 col-md-4">
    <h2>Wisdom from the crowd</h2>
    <p>You can browse submissions while not logged in with an account. When items (links or text posts) are submitted to the site, G-bloccitors (users) can vote for or against them (upvote/downvote).</p>
  </div>
  <div class="span4 col-sm-6 col-md-4">
    <h2>Curated news</h2>
    <p>Each Topic has a front page that shows newer submissions that have been rated highly. G-Bloccitors can also post comments about the submission, and respond back and forth in a conversation-tree of comments.</p>
  </div>
  <div class="span4 col-sm-6 col-md-4">
    <h2>Only the best</h2>
    <p>Front-page rank, for both the general Topics and for individual Posts, is determined by the age of the submission, positive ("upvoted") to negative ("downvoted") feedback ratio and the total vote-count.</p>
  </div>
</div>