<h1>Edit Post</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Make sure content is appropriate for this post.</li>
      <li>Embrace attribution and respect for intellectual property</li>
      <li>Share what you love</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>